@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    height: 100vh;
    width: 100vw;
}

.canvas {
    width: 100%;
    height: 100%;
}

.joint-paper {
    background-color: rgba(0, 0, 0, 0) !important;
}

.port {
    width: 10px !important;
    height: 10px !important;
    transform: translate(40px, 5px) !important;
    fill: #000 !important;
    opacity: 0.5 !important;
}    


